{% extends 'base.html.twig' %}

{% block title %}Créer son compte | Guesbaya Couture{% endblock %}

{% block body %}
<section class="container mt-5">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Veuillez créer votre compte</h1>
    <p class="subtitle">Afin de créer votre compte, veuillez compléter les champs suivant. Cela ne vous prendra que quelques minutes.</p>

    {{ form_start(registrationForm) }}
        <div class="mb-3">
            {{ form_label(registrationForm.firstname, 'Prénom')}}
            {{ form_widget(registrationForm.firstname) }}
        </div>
        <div class="mb-3">
            {{ form_label(registrationForm.lastname, 'Nom') }}
            {{ form_widget(registrationForm.lastname) }}
        </div>
        <div class="mb-3">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="mb-3">
            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div class="mb-3"
            {{ form_label(registrationForm.agreeTerms, 'Accepter les CGU')}}
            {{ form_widget(registrationForm.agreeTerms)}}
        </div>
        <button type="submit" class="btn btn-success">Créer le compte</button>
    {{ form_end(registrationForm) }}

</section>

{% include '_includes/_form-footer.html.twig' %}

{% endblock %}
