{% extends 'base.html.twig' %}

{% block title %}Accueil | Guesbaya Couture{% endblock %}

{% block body %}
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
{% include '_includes/_home-banner.html.twig' %}

<section>
    <div class ="d-flex justify-content-between align-items-baseline">
        <h2>Choisis ton tissus</h2>
        <a href="https://www.picocleaners.com/blog/the-12-different-types-of-fabric/">En savoir plus sur les types de tissus</a>
    </div>
    <div class="row">
        {% for fabric in fabrics %}
        <div class="col">
            <div class="card bg-light">
                <img src="{{ fabric.photo }}" class="card-img" alt="{{ fabric.name}}">
                <div class="card-img-overlay">
                    <p class="card-text">{{ fabric.type}}</p>
                </div>
                <div class = "card-body">
                    <h5 class = "card-text">{{ fabric.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section

{% endblock %}
