{% extends 'base.html.twig' %}

{% block title %}Modifier {{ pattern.name}} | Modèles | Guesbaya Couture{% endblock %}

{% block body %}
    <h1>Modifier {{ pattern.name }}</h1>

    {{ include('admin/pattern/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('pattern_index') }}">Retour à la liste</a>

    {{ include('admin/pattern/_delete_form.html.twig') }}
{% endblock %}
