{% extends 'base.html.twig' %}

{% block title %}{{ pattern.name}} | Modèle | Admin | Guesbaya Couture{% endblock %}

{% block body %}
    <h1>{{ pattern.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ pattern.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ pattern.photo }}" alt="{{ pattern.name }}" width="150px"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pattern.name }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ pattern.gender }}</td>
            </tr>
            <tr>
                <th>Quantité de tissus</th>
                <td>{{ pattern.fabricQuantity }} mètres</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ pattern.Type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pattern_index') }}">Retour à la liste</a>

    <a href="{{ path('pattern_edit', {'id': pattern.id}) }}">Modifier</a>

    {{ include('admin/pattern/_delete_form.html.twig') }}
{% endblock %}
