{% extends 'base.html.twig' %}

{% block title %}Commandes | Admin | Guesbaya Couture{% endblock %}

{% block body %}
    <h1>Toutes les commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Modèle</th>
                <th>Tissus</th>
                <th>Destination</th>
                <th>Prix</th>
                <th>Gérer</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.pattern.name }}</td>
                <td>{{ order.fabric.name }}</td>
                <td>{{ order.shippingAddress }}</td>
                <td>{{ order.price }}€</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">Voir détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}
